body {
  display: flex;
  flex-direction: column;,
font-family:  Sans-Serif;  
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 800px;
  
  
  
}

* {
  outline-color: var(--color-#571aff);
}

.link {
  text-decoration: none;
  color: var(--color-#571aff);
}

.link:focus {
  outline: 1px dotted currentColor;
}


